:root{
    --primary-default: #3064E7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#landing {
    width: 100%;
    height: 100%;

    padding: 25px;

    background-color: rgba(255,255,255, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.landingHidden {
    display: block !important;
    top: 100% !important;
}

@keyframes hideLanding {
    0% {
        top: 0%;
    }
    
    100%{
        top: 100%;
    }
}

@keyframes showLanding {
    0% {
        top: 100%;
    }

    100%{
        top: 0%;
    }
}

#map {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: absolute;
    z-index: 0;
}

#mapOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.mapOverlayInteractiveElement {
    pointer-events: auto;
}

#app {
    position: relative;
}

.landButtContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.button {
    width: 100%;
    max-width: 325px;
    height: 50px;
    background-color: var(--primary-default);
    color: white;
    border: 3px solid var(--primary-default);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.button p {
    font-family: Overpass;
    font-size: 18px;
    font-weight: 600;
}

.button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: var(--primary-default);
    cursor: pointer;
}

.buttIcon{
    fill: orange;
}

.weatherContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.weatherAndNameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.weatherCityTitle {
    font-size: 51.96px;
    font-family: Overpass;
    font-weight: 700;
    color: var(--primary-default);
}

.weatherInformationTitle{
    font-size: 16px;
    font-family: Overpass;
    font-weight: 400;
    color: var(--primary-default);
}

.weatherInformationDetail {
    font-size: 20.25px;
    font-family: Overpass;
    font-weight: 700;
    color: var(--primary-default);
}

.weatherInformationDetailContainer {
    width: 54px;

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.weatherInformationContainer {
    display: flex;
    gap: 25px;
}